body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url("images/pattern.jpeg");
    width: 100%;
    height: 150px;
    margin: 75px 20px;
}
/*inizio prima sezione*/
.Dasmoto{
    color: khaki;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.brush{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    background-color: mediumspringgreen;
}

.brush .brush_text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
}
/*common class*/
.hacksaw{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
/*common class*/
.price{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    margin-left: 20px;

}
/*common class*/
.image{
    margin: 20px 20px ;
}

/*fine prima sezione*/

/*inizio seconda sezione*/
.frames{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    background-color:lightcoral;
}

.frame_text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
}
/*fine seconda sezione (n.b classi in comune da prima sezion)e*/
/*inizio terza e ultima sezione*/

.paint{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    background-color: skyblue;
}

.paint_text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
}